@font-face {
  font-family: "shamel-bold";
  src: url("../fonts/SF-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "shamel-book";
  src: url("../fonts/SF-Book.ttf") format("truetype");
}

@font-face {
  font-family: "shamel-light";
  src: url("../fonts/SF-Light.ttf") format("truetype");
}

@font-face {
  font-family: "shamel-medium";
  src: url("../fonts/SF-Medium.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "shamel-medium" !important;
  font-size: 62.5%;
}
