@font-face {
  font-family: "shamel-bold";
  src: url("../fonts/SF-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "shamel-book";
  src: url("../fonts/SF-Book.ttf") format("truetype");
}

@font-face {
  font-family: "shamel-light";
  src: url("../fonts/SF-Light.ttf") format("truetype");
}

@font-face {
  font-family: "shamel-medium";
  src: url("../fonts/SF-Medium.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "shamel-medium" !important;
  font-size: 62.5%;
}

.custom-border-1 {
  z-index: 1;
}

.custom-border-1::after {
  content: "";
  width: 111px;
  height: 16px;
  background-color: #e6427a;
  position: absolute;
  bottom: 13px;
  right: 3px;
  z-index: -1;
}
